body>a {
    margin-top: 15px;
}

#top {
    margin: auto;
    width: auto;
    height: auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 10;
}

#top>div:nth-child(2){
    width: 80%;
    height: auto;
}

#top>div>div {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-right: 25px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

#top>div>div>input {
    height: 25px;
    width: 100%;
    margin-right: 20px;
    padding-left: 20px;
    border: 0.5px solid gray;
    border-radius: 5px;
}

#top>div>div>a>img {
    margin-left: 40px;
    height: 30px;
}

#top>div>div>a>button {
    margin-top: 10px;
    padding: 5px 10px 5px;
    color: white;
    background-color: rgb(150, 200, 100);
    border: 0px;
    border-radius: 4px;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

#top>div>a>img {
    margin: 0px 25px 0px;
    height: 100px;
}

#nav {
    margin: 10px auto 10px;
    width: 90%;
    height: auto;
    background-color: rgb(251, 251, 251);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#nav>div>a {
    color: black;
    text-decoration: solid;
    font-size: 15px;
}

#nav>div {
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 15px;
}

#banner-top {
    margin: auto;
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 50px;
}

#banner-top>img {
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#banner-mid {
    margin: auto;
    width: 90%;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-image: url("https://d1z88p83zuviay.cloudfront.net/BannerImages/be618ef9-589f-4b39-babb-179922530da8.jpg");
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-size: 100% 100%;
    animation: slider 50s infinite linear;
    border-radius: 10px;
}

@keyframes slider {
    10% {
        background-image: url("https://d1z88p83zuviay.cloudfront.net/BannerImages/be618ef9-589f-4b39-babb-179922530da8.jpg");
    }

    20% {
        background-image: url("https://d1z88p83zuviay.cloudfront.net/BannerImages/508e777a-3a2b-46a6-b7a0-5b6d9e7a4974.jpg");
    }

    30% {
        background-image: url("https://d1z88p83zuviay.cloudfront.net/BannerImages/4c154adb-39a3-49e5-a85d-bd452665ae9f.jpg");
    }

    40% {
        background-image: url("https://d1z88p83zuviay.cloudfront.net/BannerImages/4faa7706-0071-473c-adc6-5991b133a936.jpg");
    }

    50% {
        background-image: url("https://d1z88p83zuviay.cloudfront.net/BannerImages/5a8e108c-85b3-4ed9-ab57-2b827c5adb14.jpg");
    }

    60% {
        background-image: url("https://d1z88p83zuviay.cloudfront.net/BannerImages/60d39079-412f-4980-abe0-40d05a1225a0.jpg");
    }

    70% {
        background-image: url("https://d1z88p83zuviay.cloudfront.net/BannerImages/3c2561de-fb8d-455b-8a39-42c110acf751.jpg");
    }

    80% {
        background-image: url("https://d1z88p83zuviay.cloudfront.net/BannerImages/da1b72b5-574a-40d1-bd08-12c5dadf8cfd.jpg");
    }

    90% {
        background-image: url("https://d1z88p83zuviay.cloudfront.net/BannerImages/72b39056-f150-401d-99be-58eb5227dd24.jpg");
    }

    100% {
        background-image: url("https://d1z88p83zuviay.cloudfront.net/BannerImages/977fb0d8-db2b-4871-8613-871814cebd7d.jpg");
    }
}

#banner-bottom>div {
    margin: 50px auto 50px;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

#banner-bottom>div>div:hover {
    transform: scale(1.05);
    z-index: 2;
}

#banner-bottom>div>div>img {
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#banner-bottom>p {
    margin: 75px 0px 75px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 22px;
    color: rgb(150, 200, 100);
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

#medium {
    margin: 40px auto 50px;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#medium>div:hover {
    transform: scale(1.05);
    z-index: 2;
}

#medium>div>img {
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#medium>div>p {
    display: block;
    color: gray;
    border-bottom: 1px solid darkgray;
    padding-bottom: 5px;
}

#bottom-slider {
    margin: auto;
    width: 90%;
    height: 376px;
    overflow: hidden;
    position: relative;
    background-image: url("https://www.naturesbasket.co.in/Images/homepageblogbanner/NB_paneerBlog_banner.jpg");
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-size: 100% 100%;
    animation: slider2 15s infinite linear;
    border-radius: 10px;
}

@keyframes slider2 {
    34% {
        background-image: url("https://www.naturesbasket.co.in/Images/homepageblogbanner/NB_paneerBlog_banner.jpg");
    }

    68% {
        background-image: url("https://www.naturesbasket.co.in/Images/homepageblogbanner/NB_pastaBlog_banner.jpg");
    }

    100% {
        background-image: url("https://www.naturesbasket.co.in/Images/homepageblogbanner/NB_1320x355-blog2.jpg");
    }
}

#bottom {
    margin: auto;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    background-color: rgb(251, 251, 251);
    border-radius: 10px;
    border-bottom: 0.25px solid lightgray;
}

#bottom>div {
    display: flex;
    justify-content: space-evenly;
}

#bottom>div>div>img {
    width: 175px;
    margin-top: 15px;
}

#bottom>div>div>h3 {
    font-weight: normal;
    margin-top: 25px;
}

#bottom>div>div>p {
    font-size: small;
    color: rgb(100, 100, 100);
}

#bottom>div>div>input {
    margin-bottom: 20px;
    width: 90%;
    height: 35px;
    padding-left: 20px;
}

#bottom>div>div>button {
    color: white;
    background-color: rgb(150, 200, 100);
    padding: 10px 20px 10px;
    border-radius: 3px;
    border: 0px;
}

#footer {
    margin: auto;
    width: 90%;
    height: 55px;
    border-top: 0.25px solid lightgray;
    border-bottom: 0.25px solid lightgray;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#footer>img {
    height: 75%;
    margin: auto;
}

#footer>svg {
    height: 50%;
    margin: auto;
    padding: 5px;
    cursor: pointer;
}

body>p {
    margin: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

/* login page */

#main {
    margin: 50px auto 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#order-list,
#address-list {
    width: 50%;
    margin-right: 100px;
    padding: 0px 25px 0px;
    flex-direction: column;
}

#menu-bar {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#menu-bar>a>button {
    width: 100%;
    color: black;
    background-color: rgb(150, 200, 100);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px 10px;
    border-radius: 3px;
    border: 0px;
    margin: 5px;
    cursor: pointer;
    text-align: left;
}

#loginpage {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#loginpage>div {
    display: flex;
    flex-direction: column;
}

#loginpage>div>form {
    display: flex;
    flex-direction: column;
}

#loginpage>div>form>input {
    display: block;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#signup, #login {
    width: auto;
    margin-top: 20px;
    padding: 5px 20px 5px;
    border: 0px;
    color: white;
    background-color: rgb(150, 200, 100);
    border-radius: 5px;
    cursor: pointer;
}

#submit {
    width: auto;
    margin-top: 20px;
    padding: 5px 20px 5px;
    border: 0px;
    color: white;
    background-color: rgb(150, 200, 100);
    border-radius: 5px;
    cursor: pointer;
}



/* Products Page */

#all-products {
    margin: auto;
    width: 90%;
}

#filter {
    margin: 50px auto 50px;
    display: flex;
    justify-content: space-between;
}

#filter>div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

#filter>div>select {
    margin: auto;
    padding: 5px 10px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 3px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px;
}

#container {
    margin: auto;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 40px;
}

#container>div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#container>div:hover {
    transform: scale(1.05);
    z-index: 2;
}

#container>div>p {
    font-size: small;
}

#container>div>img {
    width: 75%;
    height: auto;
}

#container>div>button {
    margin: 0px 5px 0px;
    padding: 5px 10px 5px;
    border: 0px;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(150, 200, 100);
}